/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.footer-nav{
	font-style: normal;
	list-style:none;
	margin-top:70px;
	@include desktop{
		text-align: right;
		margin-right: 13vw;
	div{
		display:inline;

	}}

}
.footer-nav ul{
	margin:0;
	padding:0;
	display: inline;
}
.footer-nav li{
	display:inline;
	padding:0 15px;
	border-right:white 1px solid;
}
.red{
	display: inline;
	border: none;
}