/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 3px;
	font-size: .75rem;
	line-height: 1;
	padding: .6rem 1rem .4rem;
	box-shadow:none;
	text-shadow:none;
	border:2px #00cc00 solid;
	background:none;
	color:#00cc00;
	margin:20px 0;
	&:hover{
	box-shadow:none;
	text-shadow:none;
	}

	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #919191;
	border:2px #00cc00 solid;
	background:none;
	border-radius: 3px;

	&:focus {
		color: white;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
