/*--------------------------------------------------------------
# search
--------------------------------------------------------------*/
fieldset{
	border:none;
}
fieldset input{
	background:none;
	border:2px #00cc00 solid;
	border-radius: 3px;

}
fieldset button{
	box-shadow:none;
	text-shadow:none;
	background:none;
	border:none;
	color:#00cc00;
	&:hover{
	box-shadow:none;
	text-shadow:none;
	}
}